@import "global-style.scss";
.wrapper {
  position: relative;
  display: flex;
  flex-direction: column; /* Stack top bar, sidebar, and body area vertically */
  height: 100vh; /* Make the wrapper take the full viewport height */
}
.sidebar-layout {
  position: relative;
}
.app-menubar-layout {
  position: absolute;
}
.web-layout {
  flex-grow: 1;
  display: flex;
  flex-direction: column; /* Stack top bar and body area vertically */
  width: 100%; /* Take the full width of the wrapper */
  .topbar-layout {
    height: 60px; /* Set a fixed height for the top bar */
  }
  .body-area {
    padding: 30px 20px;
    position: relative;
    flex-grow: 1; /* Allow body area to grow and fill available space */
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 100vh;
    margin-left: 250px;
    background-color: $background-color;
    transition: margin-left 0.3s ease;
  }
  .footer-layout {
    margin-left: 250px;
    transition: margin-left 0.3s ease;
    width: calc(100% - 250px);
  }
}
.collapsedP {
  .body-area {
    margin-left: 75px;
  }
  .footer-layout {
    margin-left: 75px !important;
    width: calc(100% - 75px) !important;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    flex-direction: column;
  }
  .sidebar-layout.mobile-view {
    position: absolute;
    z-index: 1;
    top: 63px; /* Adjust the top position based on your top bar's height */
    left: 0;
  }
  .app-menubar-layout.mobile-view {
    position: absolute;
    z-index: 2;
    top: 63px; /* Adjust the top position based on your top bar's height */
    left: 0;
  }
  .web-layout {
    margin-left: 0; /* Adjust margin-left to 0 when sidebar is collapsed */
    .body-area {
      margin-left: 0;
    }
    .footer-layout {
      margin-left: 0 !important;
      width: 100% !important;
    }
  }
  .collapsedP {
    .body-area {
      margin-left: 0;
    }
    .footer-layout {
      margin-left: 0 !important;
      width: 100% !important;
    }
  }
}