<div class="wrapper" [ngClass]="{ collapsedP: isSidebarCollapsed }">
  <div class="sidebar-layout" [ngClass]="{ 'mobile-view': isMobileView }">
    <app-sidebar
      [isSidebarCollapsed]="isSidebarCollapsed"
      (mouseEnterEvent)="handleMouseEnter()"
    ></app-sidebar>
  </div>
  <div class="app-menubar-layout" [ngClass]="{ 'mobile-view': isMobileView }">
    <app-menu-sidebar
      [AppMenuData]="AppMenuData"
      [isAppMenubarCollapsed]="isAppMenubarCollapsed"
    ></app-menu-sidebar>
  </div>
  <div class="web-layout">
    <app-topbar
      (toggleSidebarEvent)="toggleSidebar($event)"
      (toggleAppMenubarEvent)="toggleAppMenuBar($event)"
      [isAppMenubarCollapsed]="isAppMenubarCollapsed"
      [isSidebarCollapsed]="isSidebarCollapsed"
      class="topbar-layout"
    ></app-topbar>
    <div class="body-area">
      <router-outlet></router-outlet>
    </div>
    <div class="footer-layout">
      <app-footer></app-footer>
    </div>
  </div>
</div>
