<footer class="footer-section">
  <div class="footer">
    <div class="footer-one">
      <p class="text-lg font-semibold sm:text-sm">
        Vonome Software and Systems
      </p>
    </div>
    <div class="footer-two">
      Copyright © 2023 <a>Vonome Apps </a>
      <i class="fa fa-heart text-danger"> </i>Created by
      <a href="https://vonome.com/en">Vonome Software and Systems</a> All rights
      reserved.
    </div>
    <div class="footer-three">
      <ul>
        <li>
          <a href="#" class="hover:text-indigo-500">Community</a>
        </li>
        <li>
          <a href="#" class="hover:text-indigo-500">Services</a>
        </li>
        <li>
          <a href="#" class="hover:text-indigo-500 mr-4">About</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
