@import "global-style.scss";

.sidebar-section {
  position: relative;
  display: block;
}
.sidebar {
  color: #1c1d22;
  position: fixed;
  top: 60px;
  width: 250px;
  max-height: 100%;
  background: $secondary-background-color;
  font-family: $primary-font;
  border-right: 1px solid #e3e3f7;
  box-shadow: 0 0 #6f86e621, 0 4px 16px #b3bbc35c;
  transition: width 0.3s ease, left 0.3s ease, max-height 0.3s ease; /* Add max-height transition */
  height: calc(100vh - 60px);
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1027;

  /* Custom scrollbar styles */
  &::-webkit-scrollbar {
    width: 3px; /* Adjust the scrollbar width as needed */
    height: 3px; /* Adjust the scrollbar height as needed */
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background color for the scrollbar track */
  }
  &::-webkit-scrollbar-thumb {
    background: #c5c4c4; /* Color of the scrollbar thumb */
    border-radius: 3px; /* Rounded corners for the thumb */
  }

  .group-menu-ul {
    margin: 0;
    padding: 7px 15px 0px 15px;
    .group-menu-li {
      .group-title {
        margin: 14px 0;
        h1 {
          font-family: $font-family-monospace;
          white-space: nowrap;
          display: flex;
          align-items: center;
          font-size: 14px;
          line-height: 1;
          vertical-align: middle;
          font-weight: 500;
          opacity: 0.7;
          color: #5b5b5b;
          font-style: italic;
        }
      }

      .main-menu-ul {
        .main-menu-li {
          margin: 5px 0 !important;
          padding: 8px 15px 8px 0px;
          .menu-item {
            padding-left: 18px;
            border-radius: 5px;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease, color 0.3s ease;

            i {
              font-size: 18px;
              line-height: 0;
              margin-right: 8px;
              margin-left: -8px;
              line-height: 1.5;
              border-radius: 3px;
              text-align: center;
              opacity: 0.7;
              color: #272727;
            }
            h1 {
              font-family: $font-family-sans-serif;
              white-space: nowrap;
              flex: 1 1 auto;
              display: flex;
              align-items: center;
              font-size: 14px;
              line-height: 1;
              vertical-align: middle;
              font-weight: 500;
              margin: 0 !important;
              opacity: 0.7;
              color: #272727;
            }
            i {
              opacity: 0.7;
              font-size: 14px;
              transition: transform 1s ease-in-out; /* Smooth transition for rotation */
            }

            &:hover {
              i {
                color: $bs-primary;
              }
              h1 {
                color: $bs-primary;
              }
              .accordion-icon {
                color: $bs-primary;
              }
            }
          }
          .submenu-ul {
            .submenu-li {
              cursor: pointer;
              display: flex;
              align-items: center;
              padding: 5px 10px 5px 35px;
              margin-top: 5px;
              color: #1c1d22;
              margin-top: 10px;
              &:hover {
                h2 {
                  color: $bs-primary;
                }
              }
              h2 {
                font-family: $font-family-sans-serif;
                font-size: 14px;
                font-weight: 500;
                opacity: 0.7;
                margin: 0 !important;
                padding: 0 !important;
              }
            }
          }
        }
      }
    }
  }
}
/* Add styles for the selected menu or submenu */
/* Add styles for the selected menu or submenu */
.selected {
  border-left: 2px solid $secondary;
  border-radius: unset !important;
  opacity: 0.8 !important;
}

.submenuSelected {
  color: $bs-primary !important;
  opacity: 0.6 !important;
}
/* Define styles for the collapsed sidebar */
.collapsed {
  width: 75px;
}
/* Add styles for the expanded sidebar */
.sidebar:not(.collapsed) {
  width: 250px;
  max-height: 100%; /* Add max-height to allow smooth expansion */
}

@media (max-width: 1024px) {
  .sidebar {
    .group-menu-ul {
      margin: 0;
      padding: 15px 7px 0px 7px;
      .group-menu-li {
        h1 {
          font-size: 14px;
          font-weight: 500;
          margin-bottom: 5px;
        }
        .main-menu-ul {
          .main-menu-li {
            .menu-item {
              padding: 8px 12px 8px 20px;
              margin: 0;
              display: flex;
              span {
                i {
                  font-size: 16px;
                }
              }
              h1 {
                font-size: 12px;
                margin: 0 !important;
              }
              i {
                font-size: 12px;
              }
            }
            .submenu-ul {
              .submenu-li {
                display: flex;
                align-items: center;
                padding: 0px 15px 0px 25px;
                h2 {
                  font-size: 13px;
                  font-weight: 500;
                }
              }
            }
          }
        }
      }
    }
  }
  /* Define styles for the collapsed sidebar */
  .collapsed {
    width: 0px !important;
    display: none;
  }
  /* Add styles for the expanded sidebar */
  .sidebar:not(.collapsed) {
    width: 225px;
  }
}
